<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSE-MenuProfesores-2</title>
    <link href="assets/CSS/SCSE-MP2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">     
</head>
<body>
    <header> 
        <div id="cabecero">
            <div id="Logo-titulo">
                <a id="Logo" href="">
                    <div id="contenedor_imagen"><img src="assets/images/SeMaslogo_st.png" alt="Logo de SeMas"/></div>
                    <p class="separacion_elementos_cabecero">Sémás</p>
                </a>
                <div id="contenedor-titulo"><h2 id="titulo_head">Cursos disponibles</h2></div>
            </div>
            <nav>
                <a href="SCSE-Login.html"><i class="glyphicon glyphicon-log-in"></i> Ir a Login</a>
            </nav>
        </div>
    </header> 
    <section>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel-group">
                    <div class="panel panel-warning">
                        <div class="panel-heading" style="text-align: center;">REGISTER</div>
                        <div class="panel-body" style="text-align: center;">
                            <h2>Registrar</h2>
                            <input class="form-control" type="text" id="name" placeholder="Nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Ingrese solo letras." required><br>
                            <input class="form-control" type="text" id="lastname" placeholder="Apellido" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+" title="Ingrese solo letras." required><br>
                            <input class="form-control" type="email" id="mail" placeholder="Correo" title="Ingrese un correo válido." required><br>
                            <input class="form-control" type="text" id="username" placeholder="Nombre de usuario" required><br>
                            <input class="form-control" type="password" id="password" placeholder="Contraseña" required><br>
                            <div class="container text-left"> 
                                <label><input type="radio" id="tipo1" name="tipo">Alumno</label>
                                <label><input type="radio" id="tipo2" name="tipo">Profesor</label>
                            </div><br>
                            <div id="cod"><input class="form-control" type="text" id="code" placeholder="Código Alumno" pattern="\d+" title="Ingrese solo números." required><br></div>
                            <button class="btn btn-warning" id="butonRegistrar">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var opcion = "";
            $("#cod").hide();

            $("#tipo1").on("click", function() {
                opcion = 1;
                $("#cod").show();
            });

            $("#tipo2").on("click", function() {
                opcion = 2;
                $("#cod").hide();
            });

            $("#butonRegistrar").on("click", function(event) {
                event.preventDefault();
                
                // Verificación de formulario antes del envío
                if (!$("#name")[0].checkValidity() || !$("#lastname")[0].checkValidity() || 
                    !$("#mail")[0].checkValidity() || 
                    (opcion === 1 && !$("#code")[0].checkValidity())) {
                    alert("Por favor, complete todos los campos correctamente.");
                    return;
                }

                var studentdata = {
                    name: $("#name").val(),
                    lastname: $("#lastname").val(),
                    mail: $("#mail").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    tipo: opcion,
                    codigo: opcion === 1 ? $("#code").val() : null
                };

                $.ajax({
                    url: "/registrarSistemaUsuario",
                    dataType: 'json',
                    type: 'POST',
                    data: studentdata,
                    success: function(data) {
                        if (data.estado == 1) {
                            alert("Nombre de usuario repetido, por favor digite otro nombre de usuario");
                        } else {
                            alert("Usted se acaba de registrar en el sistema");
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>